@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 3.5s ease-in-out infinite;
}

.greetings > span:nth-of-type(3){
    margin-right: 1.5rem;
}

@keyframes glow{
    0%, 100%{
        color: #d639cb;
        text-shadow: 0 0 12px #d639cb;
    }
    10%, 90%{
        color: #60606047;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: 200ms;
}
.greetings > span:nth-child(3){
    animation-delay: 400ms;
}
.greetings > span:nth-child(4){
    animation-delay: 600ms;
}
.greetings > span:nth-child(5){
    animation-delay: 800ms;
}
.greetings > span:nth-child(6){
    animation-delay: 1000ms;
}
.greetings > span:nth-child(7){
    animation-delay: 1200ms;
}
.greetings > span:nth-child(8){
    animation-delay: 1400ms;
}
.greetings > span:nth-child(9){
    animation-delay: 1600ms;
}
.greetings > span:nth-child(10){
    animation-delay: 1800ms;
}
.greetings > span:nth-child(11){
    animation-delay: 2000ms;
}
.greetings > span:nth-child(12){
    animation-delay: 2200ms;
}
.greetings > span:nth-child(13){
    animation-delay: 2400ms;
}
.greetings > span:nth-child(14){
    animation-delay: 2600ms;
}
.greetings > span:nth-child(15){
    animation-delay: 2800ms;
}



.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: azure;
}

button{
    border-radius: 8px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}
